html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
  flex: 0 1 30px;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

.keypad-button {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  background-color: grey;
}

.keypad-button:hover {
  background-color: white;
}

#button-panel {
  display: flex;
}

#display {
  height: 240px;
  width: 320px;
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 10px 10px 10px 10px;
}
